/* GT America Condensed Regular */
@font-face {
  font-family:'gtamcond';
  src: url("fonts/gtamerica/GT-America-Condensed-Regular.woff2") format('woff2');
  font-weight:400;
}

/* GT America Condensed Bold */
@font-face {
  font-family:'gtamcond';
  src: url("fonts/gtamerica/GT-America-Condensed-Bold.woff2") format('woff2');
  font-weight:600;
}

/* GT America Regular */
@font-face {
  font-family:'gtam';
  src: url("fonts/gtamerica/GT-America-Standard-Regular.woff2") format('woff2');
  font-weight:400;
}

/* GT America Bold */
@font-face {
  font-family:'gtam';
  src: url("fonts/gtamerica/GT-America-Standard-Bold.woff2") format('woff2');
  font-weight:600;
}

body {
	font-family: gtam;
	background-color: black;
	color: white;
	height: 100%;
	width: 100%;
}

html {
	height: 100%;
}

h1, h2, h3 {
	/*font-family: GT America Condensed;*/
	text-transform: uppercase;
	font-weight: bold;
}

h1 {
	text-align: center;
	margin-bottom: 0px;
}

hr {
	border: none;
    height: 2px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

#mapid { 
	height: 100%; 
}

#aclum-logo {
	display: block;
	width: auto;
  	height: auto;
	min-width: 20%;
	max-height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

#footer {
	margin-top: 1rem;
}

.take-action-btn {
	background-color: #ef404d;
	margin-left: auto;
	margin-right: auto;
	display: block;
    border-radius: 0px;
    font-weight: 700;
    margin-right: -3px;
    display: inline-block;
    color: white !important;	
}

.submit-incident-btn {
	background-color: #a3dbe3;
	border-color: #a3dbe3;
	color: #0055aa !important;
	margin-left: auto;
	margin-right: auto;
	display: block;
    border-radius: 0px;
    font-weight: 700;
    display: inline-block;
}

#sidebar {
    background-color: white;
    box-shadow: 0 0 black;
    padding: 1rem;
    color: black;
    border-radius: 0px;
    padding-left: 2rem;
}

.leaflet-sidebar .close {
	z-index: 1000;
}

.leaflet-container {
	font-family: gtam;
}

.spin-window {
	box-shadow: none;
    margin: 0px;
    padding: 0px;
    /*overflow: hidden;*/
}

.spin-window .content {
	overflow: hidden;
}

.spin-window .titlebar,
.spin-window .promptButtons,
.intro-window .titlebar,
.info-window .promptButtons
 {
	display: none;
}

.spin-window .spinner-border{
	width: 100px;
    height: 100px;
    border-width: 5px;
}

.intro-window {
	background-color: #0055aa;
    /*padding: 1rem;*/
}

.intro-window .promptButtons {
	text-align: center;
	padding: 0px;
}

.intro-window button {
	opacity: 1;
}

.intro-window .content {
	padding: 0px;
}

#ihh-logo {
	width: 100%;
}

#intro-description {
	margin: 1rem 3rem 0 3rem;
}

.info-window {
	background-color: white;
	color: black;
}

.info-window .close {
	background-color: rgba(0, 0, 0, 0);
    color: white;
}

.info-window .titlebar {
	background-color: #0055aa;
    color: white;
}

.info-window .content {
	padding: 1rem;
}

#sidebar-misconduct ol {
	padding-left: 1.2em;
}

.type-heading {
	position: absolute;
	left: 2rem;
    top: .5rem;
	transform: rotate(90deg);
	transform-origin: 0 0;
}

.misconduct-btn {
	text-align: left;
    font-size: .9rem;
    margin-bottom: 1rem;
    border: .5px solid lightgrey;
    border-radius: 0px;
}

.misconduct-btn div {
	color: grey;
}

.read-more {
    font-style: italic;
    font-family: gtam;
    font-weight: 500;
    font-size: .8rem;
    margin-left: 5px;
}

.collapse i {
	display: block;
	font-style: italic;
	padding-top: 0.5rem;
}

.collapse {
	margin-bottom: 1rem;
}

.take-action {
    padding: 0px;
    box-shadow: 0 0 3px hsla(0,0%,59%,.5);
}

.btn-social{
	border-radius: 0px;
    width: 48%;
    font-size: .9rem;
    color: white !important;
}

.social {
	margin-top: 1rem;
}

.social .btn-info {
	background-color: #00acee;
	border-color: #00acee;
}

.social .btn-dark 

